
{% extends 'base.html'%}

{% block content %}

<div class="container mt-5 "> 
  <div class="row border border-dark rounded p-2">
    <div class= "col-md-2">
      {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail float-left" style="width:250px;">

    {%else%}
    <p>No profile picture</p>

    {% endif %} </div>
    <div class="col-md-8 float-right">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}


    </form>
  </div>


</div>
</div>
{% endblock %}