{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
<!-- content block -->
{% block content %}
<div class="container mt-5">
  <div class="card col-md-6" >
    <div class="card-body">
      <h5 class="card-title">{{pitch.title}}</h5>
      <p class="card-text">{{pitch.content}}</p>
      <div class="card-footer">
        {% for comment in comments %}
        <ul class="list-group">
            <li class="list-group-item">{{comment.comment}}</li>
        </ul>            

          {% endfor %}
        </div>
      <div class="container">
        {{ wtf.quick_form(comment_form) }}
    </div>
    </div>
  </div>
</div>
{% endblock %}